@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Source Serif Pro";
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(76.8, 120.3, 204.8);
  background-color: #EBEBEB;
}
.container {
  width: 100%;
  min-height: 100vh;
  height: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

h1 {
  font-size: 47px;
  color:black;
  text-align: center;
}
.olymp_buttons {
  margin-right: 17px;
  left: 5.23rem;
  margin-top: 17px;

  margin-bottom: 20px;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;    
}

.olymp_buttons:hover {
  background-color: black;
  border-radius: 40px;
  border-color: #fff;
  border-style: solid;
  transition: all .1s ease-in-out;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {   
    width: 97%;
    margin: auto;
  }
} 

.foreground {
  position: relative;
  padding: 20px 85px;
  font-family: "Source Serif Pro";
  margin: auto;
  height: 850px;
  background-color: white;

  overflow-y: auto;
  width: 90%;
  border-radius: 10px;
}

.txt {
  font-family: "Source Serif Pro";
  font-size: 16px;
  color: #000000;
  line-height: 1.;
}


h2 {
  text-align: center;
  padding: 0;
  margin: 5px;
}


h4 {
  position: absolute;
  left: 35rem;
  bottom: 14.3rem;
}

#start_date_err, #end_date_err {
  color: red; 
}

