* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Source Serif Pro";
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(76.8, 120.3, 204.8);
  background-color: #EBEBEB;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

h1 {
  font-size: 47px;
  color:black;
  text-align: center;
}

/* Left column */
.leftcolumn {   
  margin: auto;
  width: 97%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 18px;
  border: solid 1px transparent;
  border-color: #000;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  height: max-content;
  border-radius: 18px;
  border: solid 1px transparent;
  border-color: #000;
} 
  
.card button {
  margin-top: 20px;
  left: 55px;
  position: absolute;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.card button:hover {
  background-color: black;
  border-color: #fff;
  transition: all .1s ease-in-out;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#signup {
  position: absolute;
  right: 35px;
  margin-bottom: 10px;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;    
}

#log {
  font-size: 30px;
}

#signup:hover {
  background-color: black;
  border-radius: 40px;
  border-color: #fff;
  border-style: solid;
  transition: all .1s ease-in-out;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {   
    width: 97%;
    margin: auto;
  }
} 

.foreground {
  position: relative;
  padding: 20px 85px;
  font-family: "Source Serif Pro";
  margin: auto;
  width: 100vw;
  height: 850px;
  background-color: white;
}

.foreground {
  overflow-y: auto;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
}

.foreground pre
{
  font-family: "Source Serif Pro";
  text-align: left;
  font-size: 13px;
  padding: 0px 0px 11px;
}

input {
  outline: none;
  border: none;
}

.validate-input {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 10px;
}

.input100 {
  font-family: "Source Serif Pro";
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}

.wrapper-info {
  padding-bottom: 9px;
  padding-top: 13px;
}

.txt {
  font-family: "Source Serif Pro";
  font-size: 16px;
  color: #000000;
  line-height: 1.;
}

#name, #dateStart, #dateEnd, #maxpart {
  font-family: "Source Serif Pro";
  color: #000000;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
  margin: auto;
}

#statements, #answers {
  font-family: "Source Serif Pro";
  color: #000000;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 0px;
  margin: auto;
}


#isCommand {
  margin: 10px;
  margin-top: 10px; 
}

textarea {
  resize: none;
  width: 500px;
  height: 100px;
  font-family: "Source Serif Pro";
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  padding: 0 20px;
  margin: auto;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
}

.checkbox-other {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.checkbox-other input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-other span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.checkbox-other span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url(https://snipp.ru/uploads/contents/checkbox-1.png) 0 0 no-repeat;
}
 
/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
	background-image: url(https://snipp.ru/uploads/contents/checkbox-2.png);
}
 
/* Focus */
.focused span:before {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover */
.checkbox-other span:hover:before {
	filter: brightness(110%);
}
 
/* Active */
.checkbox-other span:active:before {
	filter: brightness(80%);
}
 
/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
	color: #666;
	cursor: default;
}
.checkbox-other input[type=checkbox]:disabled + span:before {
	filter: grayscale(100%);
	opacity: 0.6;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 15px;
}