* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Source Serif Pro";
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(76.8, 120.3, 204.8);
  }
  
  /* Header/Blog Title */
  .header {   
    font-family: "Source Serif Pro";
    text-align: center;
    color: white;
    font-size: 80px;
  } 
    
  .header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 40px;
    text-decoration: none;  
  }

  .header h1 {
    font-size: 80px;
  }

  /* Left column */
  .leftcolumn {   
    margin: auto;
    width: 97%;
  }

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 18px;
    border: solid 1px transparent;
    border-color: #000;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    height: max-content;
    border-radius: 18px;
    border: solid 1px transparent;
    border-color: #000;
  } 
    
  .card button {
    margin-top: 20px;
    left: 55px;
    position: absolute;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  .card button:hover {
    background-color: black;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    font-size: 10px;
    background: rgba(94, 94, 94, 0.672);
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
  }

   /* Style the top navigation bar */
   .topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 18px;
    margin: auto;
    width: 98%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 18px;
  }
  
  /* Change color on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
  }  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;    
    border-radius: 18px;
    border: solid 1px transparent;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 18px;
    border: solid 1px transparent;
    border-color: #000;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  

  .clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://antonaniskovich.ru/filearticle/chasy-na-javascript/file/clock.png),
    url(js.png),
    radial-gradient(circle, rgb(17, 17, 17) 0%, rgb(48, 54, 58) 11%, rgb(16, 120, 199) 70%);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35),
    inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35),
    inset 0 15px 15px #191919;
    transform: scale(0.5);
    position: absolute;
    right: -6%;
    top: -8%;
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn {   
      width: 97%;
      margin: auto;
    }
  } 
